/*========== FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&display=swap");
@import url("https//db.onlinewebfonts.com/c/6a17929c7360288d1242981da7712dc3?family=Torus+Notched");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*========== INIT ==========*/
html {
  overflow-x: hidden;
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Torus Notched;
  scroll-behavior: smooth;
  z-index: 3;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #0c0c0c;
  color: rgba(255, 255, 255, 0.8);
}

.invisible {
  display: none;
}

.curtain1 {
  position: absolute;
  top: 0;
  width: 50%;
  background-color: #0c0c0c;
  transition: transform 5s ease-in-out;
  z-index: 1000;
  border-right: 1px solid #0099ff;
}

.curtain2 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  background-color: #0c0c0c;
  transition: transform 5s ease-in-out;
  z-index: 1000;
  border-left: 1px solid #0099ff;
}

.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(/assets/img/cursor.svg);
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 153, 255, 0.2);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 153, 255, 0.8);
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  font-size: 1.1rem;
  z-index: 4;
}
.nav .nav_logo {
  transition: all 0.3s;
  position: absolute;
  left: 3rem;
}
.nav .nav_logo .nav_logo_content {
  position: relative;
  margin: 2rem 0;
  padding-bottom: 0;
  overflow: hidden;
  height: 1.5rem;
}
.nav .nav_logo .nav_logo_content .nav_logo_links {
  color: white;
}
.nav .nav_logo .nav_logo_content .nav_logo_links .nav_logo-init {
  display: flex;
  color: #0099ff;
  transition: transform 0.4s ease-out;
}
.nav .nav_logo .nav_logo_content .nav_logo_links .nav_logo-init .nav_logo_K {
  max-height: 1.1rem;
}
.nav .nav_logo .nav_logo_content .nav_logo_links .nav_logo-init span {
  color: white;
}
.nav .nav_logo .nav_logo_content .nav_logo_links .nav_logo-plus {
  transition: transform 0.4s ease-out;
}
.nav .nav_logo .nav_logo_content .nav_logo_links .nav_logo-plus span {
  color: #0099ff;
}
.nav .nav_logo .nav_logo_content .nav_logo_links:hover .nav_logo-init, .nav .nav_logo .nav_logo_content .nav_logo_links:hover .nav_logo-plus {
  transform: translateY(-1.5rem);
}
.nav .hamb {
  position: absolute;
  top: 2rem;
  right: 2rem;
  transition: all 0.3s;
}
.nav .hamb .menu {
  display: none;
  position: relative;
  width: 2rem;
  height: 1.5rem;
}
.nav .hamb .menu * {
  transition: all 0.3s ease-out;
}
.nav .hamb .menu .bar2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  margin-top: -1px;
}
.nav .hamb .menu .bar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.nav .hamb .menu .bar3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.nav .nav_list {
  position: absolute;
  right: 3rem;
  display: flex;
  transition: all 0.3s ease-out;
}
.nav .nav_list .nav_items {
  transition: all 0.3s;
  position: relative;
  margin: 2rem 0 2rem 2rem;
  padding-bottom: 0;
  overflow: hidden;
  height: 1.5rem;
  transition: all 0.3s ease-out;
}
.nav .nav_list .nav_items .nav_links {
  transition: all 0.3s;
  color: white;
}
.nav .nav_list .nav_items .nav_links .nav_links-init {
  color: #0099ff;
  transition: all 0.4s ease-out;
}
.nav .nav_list .nav_items .nav_links .nav_links-plus {
  transition: all 0.4s ease-out;
}
.nav .nav_list .nav_items .nav_links:hover .nav_links-init, .nav .nav_list .nav_items .nav_links:hover .nav_links-plus {
  transform: translateY(-1.5rem);
}

.nav2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  font-size: 1.1rem;
  z-index: 4;
}
.nav2 .nav_info {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}
.nav2 .nav_info .nav_info-mail {
  text-decoration: underline;
}
.nav2 .nav_info .nav_info-mail:hover {
  text-decoration: none;
  color: #0099ff;
}
.nav2 .nav_social {
  position: absolute;
  bottom: 3rem;
  right: -1rem;
}
.nav2 .nav_social .nav_social_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav2 .nav_social .nav_social_content .social-title {
  display: flex;
  transform: rotate(90deg);
  margin-bottom: 5rem;
}
.nav2 .nav_social .nav_social_content .social-title span {
  margin-left: 1rem;
  color: #0099ff;
}
.nav2 .nav_social .nav_social_content .social-links {
  color: white;
  margin-bottom: 1rem;
}
.nav2 .nav_social .nav_social_content .social-links:hover {
  color: #0099ff;
}
.nav2 .nav_social .nav_social_content .social-links:last-child {
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  border-bottom: 1px solid rgba(0, 153, 255, 0.8);
}

.home {
  width: 100%;
  height: 100vh;
}
.home .home_content .home_logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 13rem;
}
.home .home_content .home_text {
  position: absolute;
  left: 20%;
  bottom: 5rem;
  font-size: 1.2rem;
  font-family: Poppins;
}
.home .home_content .home_text span {
  color: rgba(0, 153, 255, 0.8);
  font-weight: 800;
  font-size: 1.3rem;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.6em;
  margin-bottom: 2rem;
}

.active {
  color: rgba(0, 153, 255, 0.8);
}

.btn {
  position: relative;
  width: max-content;
  padding: 0.5rem 2rem;
  border: 3px solid rgba(0, 153, 255, 0.8);
  text-decoration: none;
  color: rgba(0, 153, 255, 0.8);
  transition: color 1.5s ease-out;
  overflow: hidden;
}
.btn:hover {
  color: black;
}
.btn .before {
  position: absolute;
  border-radius: 50rem;
  top: -10vh;
  width: 1rem;
  height: 1rem;
  z-index: -1;
  background-color: rgba(0, 153, 255, 0.8);
  transition: transform 1.5s ease;
}

.container {
  padding: 2rem;
  border: 1px solid rgba(0, 153, 255, 0.2);
}

.main {
  width: 60%;
  margin: auto;
  padding: 5rem 0;
}
.main .parcours .about .about_content {
  display: flex;
}
.main .parcours .about .about_content .about_portrait {
  margin-right: 2rem;
}
.main .parcours .about .about_content .about_portrait .about_img {
  max-height: 12rem;
  border: 5px solid rgba(0, 153, 255, 0.8);
}
.main .parcours .about .about_content .about_text {
  font-size: 1.1rem;
}
.main .parcours .about .about_content .about_text .about_description {
  font-family: Poppins;
  margin-bottom: 1rem;
}
.main .parcours .about .about_content .about_text .about_infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.main .parcours .about .about_content .about_text .about_infos .about_items {
  font-family: Poppins;
}
.main .parcours .about .about_content .about_text .about_infos .about_items span {
  font-size: 1.2rem;
  color: rgba(0, 153, 255, 0.8);
}
.main .parcours .about .about_content .about_text .about_cv {
  width: max-content;
  margin-bottom: 1rem;
}
.main .parcours .services {
  margin-top: 5rem;
}
.main .parcours .services .services_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main .parcours .services .services_content .services_cards {
  text-align: center;
  margin: 0 2rem;
  width: 400px;
  margin-bottom: 3rem;
}
.main .parcours .services .services_content .services_cards .services_icon {
  margin: 1rem;
  font-size: 3rem;
  color: rgba(0, 153, 255, 0.8);
}
.main .parcours .services .services_content .services_cards .services_name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.main .parcours .services .services_content .services_cards .services_description {
  font-family: Poppins;
}
.main .parcours .xp-job {
  margin-top: 5rem;
}
.main .parcours .xp-job .xp-job_content {
  display: flex;
  justify-content: space-between;
}
.main .parcours .xp-job .xp-job_content .xp-job_experiences {
  width: 50%;
  padding-right: 4rem;
}
.main .parcours .xp-job .xp-job_content .xp-job_experiences .xp-job_list .xp-job_cards {
  margin-bottom: 2rem;
}
.main .parcours .xp-job .xp-job_content .xp-job_experiences .xp-job_list .xp-job_cards .xp-job_date {
  color: rgba(0, 153, 255, 0.8);
  font-family: Roboto;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.main .parcours .xp-job .xp-job_content .xp-job_experiences .xp-job_list .xp-job_cards .xp-job_name {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2rem;
}
.main .parcours .xp-job .xp-job_content .xp-job_experiences .xp-job_list .xp-job_cards .xp-job_subname {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.main .parcours .skills {
  margin-top: 5rem;
}
.main .parcours .skills .skills_content {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main .parcours .skills .skills_content .skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .parcours .skills .skills_content .skills_list .skills_cards {
  margin: 3rem 0;
  padding: 1rem 6rem;
}
.main .parcours .skills .skills_content .skills_list .skills_cards .skills_icon {
  margin: 1rem;
  font-size: 3rem;
  color: rgba(0, 153, 255, 0.8);
}
.main .parcours .skills .skills_content .skills_list .skills_cards img {
  padding: 0.7rem 0;
}
.main .parcours .skills .skills_content .skills_list .skills_cards .skills_name {
  font-family: Poppins;
  font-size: 1.1rem;
}
.main .parcours .lifestyle {
  margin-top: 5rem;
}
.main .portfolio {
  margin-top: 5rem;
}
.main .portfolio .portfolio_plus {
  margin: auto;
}
.main .portfolio .portfolio_nav {
  display: flex;
}
.main .portfolio .portfolio_nav .portfolio_nav_items {
  font-size: 1.1rem;
  margin-right: 1rem;
}
.main .portfolio .portfolio_list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main .portfolio .portfolio_list .portfolio_cards {
  width: 25rem;
  height: 20rem;
  margin-bottom: 2rem;
  background-size: cover;
  transition: all 0.3s;
  border: none;
  padding: 0;
}
.main .portfolio .portfolio_list .portfolio_cards[project="H&G"] {
  background-image: url(/assets/img/project_H&G.PNG);
}
.main .portfolio .portfolio_list .portfolio_cards[project=portfolio1] {
  background-image: url(/assets/img/portfolio1.jpg);
}
.main .portfolio .portfolio_list .portfolio_cards[project=portfolio2] {
  background-image: url(/assets/img/portfolio2.jpg);
}
.main .portfolio .portfolio_list .portfolio_cards[project=portfolio3] {
  background-image: url(/assets/img/portfolio3.jpg);
}
.main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content {
  border: none;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content:hover .portfolio_name, .main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content:hover .portfolio_type, .main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content:hover .portfolio_more {
  opacity: 1;
  transform: translate(-50%, 1rem);
}
.main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content .portfolio_more {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.5s;
}
.main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content .portfolio_type {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  font-family: Nunito;
  transition: all 0.5s;
}
.main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content .portfolio_name {
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.main .portfolio .portfolio_list .portfolio_cards .portfolio_cards_content .before {
  background-color: #0099ff;
}
.main .contact {
  margin-top: 5rem;
}
.main .contact .contact_title {
  text-align: center;
}
.main .contact .contact_subtitle {
  text-align: center;
  margin: auto;
  font-size: 1rem;
  width: max-content;
}
.main .contact .contact_form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.main .contact .contact_form .contact_input {
  width: 100%;
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
  font-family: Poppins;
  margin: 1.3rem auto;
  padding-bottom: 1rem;
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  transition: all 0.5s;
}
.main .contact .contact_form .contact_input:focus {
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.main .contact .contact_form .contact_input:focus:invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 0.8);
}
.main .contact .contact_form .contact_input:focus:invalid::placeholder {
  color: rgba(255, 0, 0, 0.8);
}
.main .contact .contact_form button {
  background: transparent;
  font-size: 1rem;
}

.portfolio_modal {
  display: none;
  cursor: default;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 1rem 0;
  background-color: rgba(12, 12, 12, 0.8);
  z-index: 5;
}
.portfolio_modal .modal {
  position: relative;
  width: 50%;
  height: 95vh;
  overflow-y: scroll;
  margin: auto;
  background-color: #0f0f0f;
  z-index: 5;
}
.portfolio_modal .modal * {
  cursor: default;
}
.portfolio_modal .modal .modal_x {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.3rem;
}
.portfolio_modal .modal .modal_bg {
  width: 100%;
}
.portfolio_modal .modal .modal_content {
  padding: 2rem;
}
.portfolio_modal .modal .modal_content .modal_type {
  font-size: 0.9rem;
  font-family: Nunito;
  color: rgba(0, 153, 255, 0.8);
  margin-bottom: 0.5rem;
}
.portfolio_modal .modal .modal_content .modal_title {
  margin-bottom: 2rem;
}
.portfolio_modal .modal .modal_content .modal_description {
  margin-bottom: 2rem;
}
.portfolio_modal .modal .modal_content .modal_construct {
  margin-bottom: 2rem;
}
.portfolio_modal .modal .modal_content .construct_list {
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.portfolio_modal .modal .modal_content .construct_list .construct_items {
  font-family: Poppins;
  list-style: disc;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.portfolio_modal .modal .modal_content .btn {
  cursor: pointer;
}

.footer {
  width: max-content;
  margin: auto;
  margin-bottom: 5rem;
  padding: 2rem 8rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .curtain1 {
    width: 120%;
    right: 0;
    transition: transform 7s;
  }

  .curtain2 {
    display: none;
  }

  .cursor {
    display: none;
    width: 0;
    height: 0;
  }

  .nav {
    max-width: 100vw;
  }
  .nav .nav_logo {
    z-index: 5;
    left: 2rem;
  }
  .nav .hamb {
    z-index: 5;
  }
  .nav .hamb .menu {
    display: block;
  }
  .nav .nav_list {
    display: none;
    background-color: #0c0c0c;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #0099ff;
    padding-top: 4rem;
    top: 0rem;
    right: 0;
    transform: translateY(-3rem);
    opacity: 0;
    flex-direction: column;
  }
  .nav .nav_list .nav_items {
    margin: 0.7rem auto;
  }

  .nav2 {
    right: 1rem;
    width: 3vw;
  }
  .nav2 .nav_info {
    display: none;
  }

  .nav_social {
    bottom: 1rem;
  }
  .nav_social .nav_social_content .social-title p {
    display: none;
  }
  .nav_social .nav_social_content .social-title span {
    transform: translateX(3rem);
  }

  .home .home_content .home_logo {
    max-width: 10rem !important;
  }
  .home .home_content .home_text {
    width: 80vw;
    font-size: 1rem;
    left: 1rem;
    bottom: 2rem;
  }
  .home .home_content .home_text span {
    font-size: 1.1rem;
  }

  .main {
    width: 100%;
    padding: 2rem;
  }
  .main .parcours .about .about_content {
    flex-direction: column;
  }
  .main .parcours .about .about_content .about_portrait {
    display: flex;
    margin: 0;
  }
  .main .parcours .about .about_content .about_portrait .about_img {
    margin: auto;
    max-height: 10rem;
  }
  .main .parcours .about .about_content .about_text {
    font-size: 1rem;
  }
  .main .parcours .about .about_content .about_text .about_description {
    font-family: Poppins;
    margin: 1rem 0;
    text-align: center;
  }
  .main .parcours .about .about_content .about_text .about_infos {
    flex-direction: column;
  }
  .main .parcours .about .about_content .about_text .about_infos .about_items {
    margin: 0.5rem 0;
  }
  .main .parcours .about .about_content .about_cv {
    margin: auto;
  }
  .main .parcours .services .services_content .services_cards {
    margin: 1rem;
    padding: 1rem;
    width: max-content;
  }
  .main .parcours .xp-job .xp-job_content {
    flex-direction: column;
  }
  .main .parcours .xp-job .xp-job_content .xp-job_experiences {
    width: 100%;
    padding: 0;
  }
  .main .parcours .skills .skills_content {
    padding: 1rem;
  }
  .main .parcours .skills .skills_content .skills_list .skills_cards {
    padding: 1rem;
  }
  .main .parcours .skills .skills_content .skills_list .skills_cards .skills_icon {
    font-size: 2rem;
  }
  .main .portfolio .portfolio_list .portfolio_cards {
    height: 15rem;
  }
  .main .contact .contact_title {
    margin-bottom: 3rem;
  }
  .main .contact .contact_subtitle {
    padding: 1.5rem;
    max-width: 80%;
  }
  .main .contact .contact_form {
    margin-top: 3rem;
  }
  .main .contact .contact_form .contact_input {
    font-size: 1rem;
  }
  .main .contact .contact_form button {
    margin: auto;
  }

  .portfolio_modal .modal {
    width: 100%;
  }

  .footer {
    margin: 2rem auto;
    padding: 2rem 3rem;
  }
}