/*========== FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"), url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Regular.woff") format("woff"), url("../fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: local("GT Walsheim Pro Medium"), local("GT-Walsheim-Pro-Medium"), url("../fonts/GTWalsheimPro-Medium.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Medium.woff") format("woff"), url("../fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: local("GT Walsheim Pro Bold"), local("GT-Walsheim-Pro-Bold"), url("../fonts/GTWalsheimPro-Bold.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Bold.woff") format("woff"), url("../fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*========== VARIABLES ==========*/
/*========== GLOBAL ==========*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffffff;
}

span {
  color: #f7931e;
}

ul {
  list-style: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-inline: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  color: #ffffff;
  z-index: 2;
}

.btn .btn-content {
  position: relative;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  overflow-y: hidden;
}

.btn .btn-content * {
  font-family: "GT Walsheim Pro Bold", sans-serif;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.btn .btn-content .back-txt {
  position: absolute;
  top: -40%;
  opacity: 0;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.btn:hover::before {
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  opacity: 0.2;
}

.btn:hover .front-txt {
  opacity: 0;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
}

.btn:hover .back-txt {
  top: 0.5rem;
  opacity: 1;
}

.section {
  padding: 10rem 10%;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.title h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5rem;
  margin: auto;
  font-family: "GT Walsheim Pro Bold", sans-serif;
  background: linear-gradient(301deg, #0088ff 0%, #9900ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.title h3 {
  width: 60%;
  margin: auto;
  font-size: 2rem;
  font-family: "GT Walsheim Pro Regular", sans-serif;
}

/*========== SCROLLBAR ==========*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  opacity: 0.5;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

/*========== LOADER ==========*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.loader .loader_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .loader_content .loader_img img {
  height: 15rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.loader .loader_content .loader_bar {
  border-radius: 1rem;
  margin-top: 2rem;
  width: 20%;
  height: 0.5rem;
  background: linear-gradient(99deg, #b3b3b3 0%, #222222 100%);
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.loader .loader_content .loader_bar .loader_bar_progress {
  height: 100%;
  width: 0%;
  border-radius: 1rem;
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/*========== STYLES ==========*/
/*========== ALERT LANG ==========*/
.alert_language_version {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #000000;
  z-index: 999;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  border-top: 3px solid transparent;
  -o-border-image: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
     border-image: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  border-image-slice: 1;
}

.alert_language_version .alert_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert_language_version .alert_content .alert_text {
  font-size: 1.2rem;
  font-family: "GT Walsheim Pro Regular", sans-serif;
  color: #ffffff;
  margin-right: 1rem;
}

.alert_language_version .alert_content .alert_lang a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
}

.alert_language_version .alert_content .alert_lang a img {
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: .25rem;
}

/*========== HEADER ==========*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: #383838;
  background-blend-mode: multiply;
  /*========== NAV ==========*/
  /*========== HEADER PICTURE ==========*/
  /*========== HEADER TEXT ==========*/
}

header .nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  z-index: 5;
}

header .nav .nav_title {
  background-color: #333333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  font-size: 1.1rem;
  font-family: "GT Walsheim Pro Bold", sans-serif;
}

header .nav .nav_title img {
  height: 1.2rem;
}

header .nav .nav_title * {
  font-size: 1.1rem;
  font-family: "GT Walsheim Pro Bold", sans-serif;
}

header .nav .nav_title:hover {
  background-color: #424242;
}

header .nav .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: 7%;
}

header .nav .nav_list .nav_indicator {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 0.4rem;
  border-radius: 1rem;
  background: #f7931e;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  opacity: 0.9;
}

header .nav .nav_list .nav_item {
  position: relative;
  margin-inline: 2rem;
  padding: 0.5rem 1rem;
  font-family: "GT Walsheim Pro Medium", sans-serif;
  font-size: 1.1rem;
}

header .nav .nav_list .nav_item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
  z-index: -1;
  -webkit-transition: all 0.4s ease-out, background-color 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s ease-out, background-color 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

header .nav .nav_list .nav_item:hover::before {
  width: 100%;
  height: 100%;
  background-color: #333333;
}

header .nav .nav_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .nav_options .btn {
  margin-inline: 0 1rem;
}

header .nav .nav_options .options {
  position: relative;
  margin-left: 2rem;
}

header .nav .nav_options .options .options_icon {
  position: relative;
  padding: 0.5rem;
}

header .nav .nav_options .options .options_icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
  z-index: -1;
  -webkit-transition: all 0.4s ease-out, background-color 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s ease-out, background-color 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

header .nav .nav_options .options .options_icon:hover::before {
  width: 100%;
  height: 100%;
  background-color: #333333;
}

header .nav .nav_options .options .options_list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 7rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 2rem;
  opacity: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333333;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

header .nav .nav_options .options .options_list .options_item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "GT Walsheim Pro Regular", sans-serif;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

header .nav .nav_options .options .options_list .options_item:hover {
  letter-spacing: 0.5px;
}

header .nav .nav_options .options .options_list .options_item .flag {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.25rem;
}

header .header_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
  padding-top: 6rem;
  width: 100%;
  height: 50%;
  z-index: 2;
}

header .header_picture picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17.5rem;
  height: 17.5rem;
  margin: auto;
  background-color: #121212;
  padding: 2rem;
  border-radius: 50rem;
}

header .header_picture picture::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 102%;
  height: 102%;
  border-radius: 50rem;
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  z-index: -1;
}

header .header_picture picture:hover .Logo {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

header .header_picture picture:hover .animoji {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .header_picture picture img {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

header .header_picture picture .Logo {
  height: 10rem;
}

header .header_picture picture .animoji {
  position: absolute;
  height: 14rem;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #12001f), to(rgba(18, 0, 31, 0)));
  background: linear-gradient(0deg, #12001f 0, rgba(18, 0, 31, 0) 100%);
}

header .header_content .header_text {
  color: white;
}

header .header_content .header_text h1 {
  font-size: 5rem;
  font-family: "GT Walsheim Pro Bold", sans-serif;
  margin: 2rem 0;
}

header .header_content .header_text h2 {
  font-size: 2.5rem;
  font-family: "GT Walsheim Pro Medium", sans-serif;
  font-weight: 400;
  margin: 2rem 0;
}

header .header_content .btn {
  margin-top: 0.5rem;
}

header .header_content .btn::before {
  border-radius: 1.05rem;
}

header .header_content .btn:hover::before {
  width: calc(100% + 1.1rem);
  height: calc(100% + 1.1rem);
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  opacity: 0.2;
}

header .header_content .btn .btn-content * {
  font-size: 2rem;
}

header .header_content .header_social {
  margin-bottom: 2rem;
}

header .header_content .header_social .social_link {
  text-align: center;
  margin-inline: 2rem;
  font-size: 2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header .header_content .header_social .social_link:hover {
  color: #9900ff;
}

/*========== MNS ==========*/
.mns {
  width: 100%;
  padding: 10rem 10%;
  background: radial-gradient(62.1% 87.2% at 50% 100%, #0f132c 0, #12001f 100%);
}

.mns .mns_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mns .mns_content .mns_picture .mns_logo {
  height: 4rem;
}

.mns .mns_content .mns_picture .mns_logo-text {
  text-align: center;
  font-family: Alata, sans-serif;
  margin: 0.5rem 0;
}

.mns .mns_content .mns_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.mns .mns_content .mns_text p {
  font-family: "GT Walsheim Pro Medium", sans-serif;
}

.mns .mns_content .mns_text p span {
  font-family: "GT Walsheim Pro Medium", sans-serif;
}

.mns .btn {
  margin: auto;
  background: linear-gradient(99deg, #9900ff 0%, #f7931e 100%);
}

/*========== ABOUT ==========*/
.about {
  background-image: url(../img/ppperspective1.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 30vh;
}

.about .about_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*========== ABOUT MEDIA ==========*/
  /*========== ABOUT TEXT ==========*/
}

.about .about_content .about_left {
  width: 25%;
  margin-inline: 0 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about_content .about_left::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 1.55rem;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(301deg, #0088ff 0%, #9900ff 100%);
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.about .about_content .about_left:hover::before {
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  opacity: 0.2;
}

.about .about_content .about_left .about_list {
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
  width: 100%;
  padding: 2rem;
}

.about .about_content .about_left .about_list:hover h4 {
  background: linear-gradient(301deg, #0088ff 0%, #9900ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .about_content .about_left .about_list h4 {
  text-align: left;
  font-size: 2rem;
  font-family: "GT Walsheim Pro Bold", sans-serif;
  margin-bottom: 3rem;
  background: linear-gradient(301deg, #000000 0%, #000000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.about .about_content .about_left .about_list .about_item {
  position: relative;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e7e7e7;
  color: #000000;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  z-index: 2;
}

.about .about_content .about_left .about_list .about_item p {
  margin-right: 0.5rem;
  font-family: "GT Walsheim Pro Medium", sans-serif;
}

.about .about_content .about_left .about_list .about_item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.about .about_content .about_left .about_list .about_item:hover::before {
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  opacity: 0.2;
}

.about .about_content .about_left .about_list .cv {
  text-align: center;
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  color: white;
}

.about .about_content .about_left .about_list .cv p {
  margin-right: 0;
}

.about .about_content .about_left .about_list .cv::before {
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
}

.about .about_content .about_left .about_list .linkedin {
  background: linear-gradient(99deg, #0e76a8 0%, #00a0dc 100%);
  color: white;
}

.about .about_content .about_left .about_list .linkedin::before {
  background: linear-gradient(99deg, #0e76a8 0%, #00a0dc 100%);
}

.about .about_content .about_left .about_list .github {
  background: linear-gradient(99deg, #333 0%, #9900ff 100%);
  color: white;
}

.about .about_content .about_left .about_list .github::before {
  background: linear-gradient(99deg, #333 0%, #9900ff 100%);
}

.about .about_content .about_left .about_list .twitter {
  background: linear-gradient(99deg, #1da1f2 0%, #1da1f2 100%);
  color: white;
}

.about .about_content .about_left .about_list .twitter::before {
  background: linear-gradient(99deg, #1da1f2 0%, #1da1f2 100%);
}

.about .about_content .about_left .about_list .codepen {
  background: linear-gradient(99deg, #000 0%, #000 100%);
  color: white;
  margin-bottom: 0;
}

.about .about_content .about_left .about_list .codepen::before {
  background: linear-gradient(99deg, #000 0%, #000 100%);
}

.about .about_content .about_right {
  width: 75%;
}

.about .about_content .about_right .about_text {
  position: relative;
  width: 100%;
  height: calc(50% - 1rem);
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
  margin-bottom: 1rem;
}

.about .about_content .about_right .about_text .about_me {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  text-align: justify;
}

.about .about_content .about_right .about_text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 1.55rem;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(301deg, #0088ff 0%, #9900ff 100%);
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.about .about_content .about_right .about_text:hover::before {
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  opacity: 0.2;
}

.about .about_content .about_right .about_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
}

.about .about_content .about_right .about_infos .about_map {
  width: 50%;
  height: 100%;
  border-radius: 1rem;
  margin-right: 1rem;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
}

.about .about_content .about_right .about_infos .about_map::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 1.55rem;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(301deg, lime 0%, cyan 100%);
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.about .about_content .about_right .about_infos .about_map:hover::before {
  width: calc(100% + 1.1rem);
  height: calc(100% + 1.1rem);
  opacity: 0.2;
}

.about .about_content .about_right .about_infos .about_contact {
  width: 50%;
}

.about .about_content .about_right .about_infos .about_contact .about_mail {
  margin-inline: 0;
  width: 100%;
  height: calc(50% - 0.5rem);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  background: linear-gradient(301deg, #0088ff 0%, #9900ff 100%);
}

.about .about_content .about_right .about_infos .about_contact .about_mail .btn-content {
  margin: auto;
}

.about .about_content .about_right .about_infos .about_contact .about_mail .btn-content * {
  font-family: "GT Walsheim Pro Regular", sans-serif;
}

.about .about_content .about_right .about_infos .about_contact .about_mail::before {
  border-radius: 1.55rem;
  background: linear-gradient(301deg, #0088ff 0%, #9900ff 100%);
}

.about .about_content .about_right .about_infos .about_contact .about_mail:hover::before {
  width: calc(100% + 1.1rem);
  height: calc(100% + 1.1rem);
  opacity: 0.2;
}

.about .about_content .about_right .about_infos .about_contact .contact-btn {
  margin-inline: 0;
  width: 100%;
  height: calc(50% - 0.5rem);
  font-size: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
  border-radius: 1rem;
}

.about .about_content .about_right .about_infos .about_contact .contact-btn::before {
  border-radius: 1.55rem;
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
}

.about .about_content .about_right .about_infos .about_contact .contact-btn:hover::before {
  width: calc(100% + 1.1rem);
  height: calc(100% + 1.1rem);
  opacity: 0.2;
}

.about .about_content .about_right .about_infos .about_contact .contact-btn .btn-content {
  margin: auto;
}

/*========== SKILLS ==========*/
.skills {
  padding-inline: 13%;
  background-image: url(../img/ppperspective2.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 30vh;
  /*========== SKILLS INPROGRESS==========*/
}

.skills .skills_title h2 {
  background: linear-gradient(301deg, #ffd900 0%, #0088ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills .skills_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*========== SKILLS FRONTEND ==========*/
  /*========== SKILLS BACKEND ==========*/
  /*========== SKILLS DESIGN ==========*/
}

.skills .skills_content .frontend .skills_type {
  background: linear-gradient(301deg, #00d100 0%, #a6ff00 100%);
}

.skills .skills_content .frontend::before {
  background: linear-gradient(301deg, #00d100 0%, #a6ff00 100%);
}

.skills .skills_content .frontend:hover i {
  background: linear-gradient(301deg, #00d100 0%, #a6ff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills .skills_content .backend .skills_type {
  background: linear-gradient(301deg, #007dd1 0%, #00ffdd 100%);
}

.skills .skills_content .backend::before {
  background: linear-gradient(301deg, #007dd1 0%, #00ffdd 100%);
}

.skills .skills_content .backend:hover i {
  background: linear-gradient(301deg, #007dd1 0%, #00ffdd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills .skills_content .design .skills_type {
  background: linear-gradient(301deg, #e10000 0%, #ff00dd 100%);
}

.skills .skills_content .design::before {
  background: linear-gradient(301deg, #e10000 0%, #ff00dd 100%);
}

.skills .skills_content .design:hover i {
  background: linear-gradient(301deg, #e10000 0%, #ff00dd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills .skills_content .skills_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: unset;
  background: white;
  color: #000000;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 30%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
  border-radius: 1rem;
  z-index: unset;
}

.skills .skills_content .skills_container::before {
  border-radius: 1.55rem;
}

.skills .skills_content .skills_container:hover::before {
  width: calc(100% + 1.1rem);
  height: calc(100% + 1.1rem);
  opacity: 0.2;
}

.skills .skills_content .skills_container i {
  position: absolute;
  bottom: 1rem;
  right: -2rem;
  font-size: 10rem;
  opacity: 0.2;
  background: linear-gradient(301deg, #000000 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.skills .skills_content .skills_container:hover i {
  right: -1.5rem;
}

.skills .skills_content .skills_container .skills_type {
  font-size: 2rem;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.skills .skills_content .skills_container .skills_type h4 {
  font-family: "GT Walsheim Pro Bold", sans-serif;
  color: white;
}

.skills .skills_content .skills_container .skills_list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
  font-size: 1.1rem;
  list-style-type: disc;
}

.skills .skills_content .skills_container .skills_list .skills_item {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-family: "GT Walsheim Pro Regular", sans-serif;
}

.skills .skills_content .skills_container .skills_list .skills_item:last-child {
  margin-bottom: 0;
}

.skills .skills_inprogress {
  margin-top: 1rem;
  margin-inline: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: unset;
  background: white;
  color: #000000;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: calc(100% - 2rem);
  z-index: unset;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
}

.skills .skills_inprogress::before {
  border-radius: 1.55rem;
  background: linear-gradient(301deg, #d19900 0%, #fffb00 100%);
}

.skills .skills_inprogress:hover::before {
  width: calc(100% + 1.1rem);
  height: calc(100% + 1.1rem);
  opacity: 0.2;
}

.skills .skills_inprogress i {
  position: absolute;
  bottom: -1.5rem;
  right: 10rem;
  font-size: 10rem;
  opacity: 0.2;
  background: linear-gradient(301deg, #000000 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.skills .skills_inprogress:hover i {
  background: linear-gradient(301deg, #d19900 0%, #fffb00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 10.5rem;
}

.skills .skills_inprogress .skills_inprogress_title {
  font-size: 2rem;
  padding: 1rem 0 1rem 2rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: linear-gradient(301deg, #d19900 0%, #fffb00 100%);
}

.skills .skills_inprogress .skills_inprogress_title h4 {
  font-family: "GT Walsheim Pro Bold", sans-serif;
  color: white;
}

.skills .skills_inprogress .skills_inprogress_list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
  font-size: 1.1rem;
  list-style-type: disc;
}

.skills .skills_inprogress .skills_inprogress_list .skills_inprogress_item {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-family: "GT Walsheim Pro Regular", sans-serif;
}

.skills .skills_inprogress .skills_inprogress_list .skills_inprogress_item:last-child {
  margin-bottom: 0;
}

/*========== PROJECTS ==========*/
.projects {
  position: relative;
  background-color: #000000;
  color: white;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-size: 150% 150%;
}

.projects .fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.projects * {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  font-weight: 300;
}

.projects .projects_title h2 {
  background: linear-gradient(301deg, red 0%, #ff00dd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects .projects_content {
  width: 100%;
  /*========== PROJECTS NAV ==========*/
  /*========== PROJECTS CARDS ==========*/
}

.projects .projects_content .projects_nav {
  position: relative;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #121212;
  padding: 5px;
  border-radius: calc(0.7rem + 2.5px);
  width: 50%;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(255, 255, 255, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
}

.projects .projects_content .projects_nav .projects_nav_item {
  text-align: center;
  width: calc(33% - 5px);
  padding: 0.5rem 0;
  border-radius: 0.7rem;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  font-size: 1.2rem;
  z-index: 1;
  color: rgba(255, 255, 255, 0.75);
}

.projects .projects_content .projects_nav .projects_nav_item:hover {
  letter-spacing: 0.5px;
  color: white;
}

.projects .projects_content .projects_nav .projects_nav_item.active {
  color: white;
}

.projects .projects_content .projects_nav .projects_select {
  position: absolute;
  left: 5px;
  width: 33%;
  height: calc(100% - 10px);
  background: linear-gradient(301deg, red 0%, #ff00dd 100%);
  border-radius: 0.7rem;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.projects .projects_content .projects_list {
  padding-inline: 5%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .projects_content .projects_list .projects_item {
  margin-inline: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.projects .projects_content .projects_list .projects_item .projects_card {
  width: 20rem;
  height: 20rem;
}

.projects .projects_content .projects_list .projects_item .projects_card:hover .projects_card_picture img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.projects .projects_content .projects_list .projects_item .projects_card:hover .projects_card_title {
  opacity: 0.5;
}

.projects .projects_content .projects_list .projects_item .projects_card .projects_card_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: transparent;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(255, 255, 255, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
}

.projects .projects_content .projects_list .projects_item .projects_card .projects_card_picture img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 1rem;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.projects .projects_content .projects_list .projects_item .projects_card .projects_card_title {
  text-align: center;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.projects .projects_content .projects_list .projects_item .projects_card .projects_card_title h5 {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.projects .projects_content .projects_list .projects_item .projects_card .projects_card_title h6 {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.projects .projects_content .btn {
  margin: auto;
  background: linear-gradient(301deg, red 0%, #ff00dd 100%);
}

.projects .projects_content .btn::before {
  background: linear-gradient(301deg, red 0%, #ff00dd 100%);
}

/*========== PROJECTS MODALS ==========*/
.projects_modals-bg {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 30%;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  overflow: hidden;
}

.projects_modals-bg .projects_modal {
  position: relative;
  display: none;
  overflow-x: hidden;
  border: 1px solid gray;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #121212;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
          box-shadow: rgba(255, 255, 255, 0.15) 0px 20px 40px 0px, rgba(0, 136, 255, 0.15) 0px 0px 0px 0px;
}

.projects_modals-bg .projects_modal.active {
  display: block;
}

.projects_modals-bg .projects_modal .modal_exit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 2rem;
  cursor: pointer;
  z-index: 1;
  background-color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.projects_modals-bg .projects_modal .modal_exit:hover {
  background-color: red;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid gray;
}

.projects_modals-bg .projects_modal .modal_exit img {
  background-blend-mode: difference;
  height: 2rem;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
}

.projects_modals-bg .projects_modal .modal_picture {
  width: 100%;
  height: 40%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects_modals-bg .projects_modal .modal_picture img {
  width: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects_modals-bg .projects_modal:hover .modal_picture img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.projects_modals-bg .projects_modal:hover .pager {
  right: -2rem;
}

.projects_modals-bg .projects_modal .modal_title {
  padding: 1rem;
}

.projects_modals-bg .projects_modal .modal_title h5 {
  font-size: 1rem;
  color: #f7931e;
}

.projects_modals-bg .projects_modal .modal_title h4 {
  font-size: 2rem;
}

.projects_modals-bg .projects_modal .pager {
  position: absolute;
  bottom: 2rem;
  right: -3rem;
  height: 15rem;
  -webkit-filter: invert(41%) sepia(3%) saturate(17%) hue-rotate(4deg) brightness(97%) contrast(84%);
          filter: invert(41%) sepia(3%) saturate(17%) hue-rotate(4deg) brightness(97%) contrast(84%);
  opacity: 0.5;
  -webkit-transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  z-index: -1;
}

.projects_modals-bg .projects_modal .modal_content {
  width: 100%;
  padding: 2rem 1rem;
  padding-top: 0;
}

.projects_modals-bg .projects_modal .modal_content p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
}

.projects_modals-bg .projects_modal .modal_content h6 {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: #f7931e;
}

.projects_modals-bg .projects_modal .modal_content .modal_list {
  padding-left: 2rem;
  list-style-type: disc;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects_modals-bg .projects_modal .modal_content .modal_list .modal_item {
  margin: 1rem 0;
  width: 50%;
}

/*========== CONTACT ==========*/
.contact {
  background-color: #000000;
  color: white;
  position: relative;
  overflow: hidden;
  background-image: url(../img/france.svg);
  background-repeat: no-repeat;
  background-position: 50% -20%;
}

.contact .fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.contact .contact_title h2 {
  background: linear-gradient(301deg, lime 0%, cyan 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact .contact_title h3 {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  font-weight: 300;
}

.contact .contact_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*========== CONTACT FORM ==========*/
  /*========== CONTACT INFOS ==========*/
}

.contact .contact_content .contact_form {
  width: 50%;
  padding-inline: 5%;
}

.contact .contact_content .contact_form .contact_form_title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.contact .contact_content .contact_form .contact_form_title h4 {
  font-family: "GT Walsheim Pro Medium", sans-serif;
  font-weight: 300;
}

.contact .contact_content .contact_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact_content .contact_form form label {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.contact .contact_content .contact_form form input,
.contact .contact_content .contact_form form textarea {
  padding: 1rem;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  border: none;
  margin-bottom: 1rem;
  font-family: "GT Walsheim Pro Regular", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
}

.contact .contact_content .contact_form form .btn {
  margin-inline: 0;
  font-size: 1.5rem;
  border-radius: 0.7rem;
}

.contact .contact_content .contact_info {
  width: 50%;
  padding-left: 16%;
  z-index: 2;
}

.contact .contact_content .contact_info .contact_info_title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.contact .contact_content .contact_info .contact_info_title h4 {
  font-family: "GT Walsheim Pro Medium", sans-serif;
  font-weight: 300;
}

.contact .contact_content .contact_info .contact_info_picture {
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.contact .contact_content .contact_info .contact_info_picture picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  height: 10rem;
  background-color: #121212;
  padding: 2rem;
  border-radius: 50rem;
}

.contact .contact_content .contact_info .contact_info_picture picture::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 102%;
  height: 102%;
  border-radius: 50rem;
  background: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
  z-index: -1;
}

.contact .contact_content .contact_info .contact_info_picture picture:hover .Logo {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.contact .contact_content .contact_info .contact_info_picture picture:hover .animoji {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact .contact_content .contact_info .contact_info_picture picture img {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.contact .contact_content .contact_info .contact_info_picture picture .Logo {
  height: 6rem;
}

.contact .contact_content .contact_info .contact_info_picture picture .animoji {
  position: absolute;
  height: 8rem;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.contact .contact_content .contact_info .contact_info_text h5 {
  font-family: "GT Walsheim Pro Medium", sans-serif;
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.contact .contact_content .contact_info .contact_info_text h5 span {
  font-family: "GT Walsheim Pro Medium", sans-serif;
}

.contact .contact_content .contact_info .contact_info_text h6 {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.contact .contact_content .contact_info .contact_info_text p {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "GT Walsheim Pro Regular", sans-serif;
}

.contact .contact_content .contact_info .contact_info_text p a {
  color: orange;
  font-weight: 100;
  text-decoration: underline;
  font-family: "GT Walsheim Pro Regular", sans-serif;
}

.contact .contact_content .contact_info .contact_info_text p:not(:last-child) {
  margin-bottom: 1rem;
}

/*========== FOOTER ==========*/
.footer {
  color: white;
  background-color: #000000;
  font-size: 1.1rem;
  font-family: "GT Walsheim Pro Regular", sans-serif;
  text-align: center;
  padding: 2rem 0;
}

/*========== RESPONSIVE ==========*/
/*========== UNDER 1200px ==========*/
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
  .header .nav {
    z-index: 105;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 1rem;
  }
  .header .nav .nav_indicator {
    display: none;
  }
  .header .nav .nav_options .options {
    margin-left: 1rem;
  }
  .header .nav .nav_options .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 1rem;
    -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
    transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  }
  .header .nav .nav_options .menu .menu_icon {
    z-index: 2;
  }
  .header .nav .nav_options .menu .bar {
    border-radius: 0.2rem;
    width: 1.5rem;
    height: 2px;
    background-color: white;
    margin: 0.3rem 0;
    -webkit-transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
    transition: all 0.4s cubic-bezier(0.2, 0.885, 0.32, 1.275);
  }
  .header .nav .nav_title {
    z-index: 106;
  }
  .header .nav .nav_list {
    position: fixed;
    background: #000000;
    width: 100%;
    top: 5rem;
    left: 0;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 3px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(99deg, #f7931e 0%, #9900ff 100%);
    -webkit-transform: translateY(-140%);
            transform: translateY(-140%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header .nav .nav_list .nav_item {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .section {
    padding-inline: 2rem;
  }
  .title h3 {
    width: 90%;
  }
  .about,
  .skills {
    background-size: 15vh;
  }
  .about .about_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .about_content .about_left {
    width: 100%;
    margin-top: 1rem;
  }
  .about .about_content .about_left .about_list .about_item {
    width: 70%;
    margin: 1rem auto;
  }
  .about .about_content .about_right {
    width: 100%;
    padding-inline: 0;
  }
  .skills .skills_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills .skills_content .frontend,
  .skills .skills_content .backend {
    width: calc(50% - 2rem);
    margin-bottom: 1rem;
  }
  .skills .skills_content .design {
    width: 100%;
  }
  .skills .skills_content .design i {
    bottom: -1.5rem;
    right: 10rem;
  }
  .skills .skills_content .design:hover i {
    right: 10.5rem;
  }
  .projects_modals-bg {
    padding-inline: 5%;
  }
}

/*========== UNDER 1000px ==========*/
@media (max-width: 1000px) {
  .projects .projects_content .projects_nav {
    width: 70%;
  }
  .contact .contact_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact_content .contact_form {
    width: 100%;
    margin: auto;
  }
  .contact .contact_content .contact_info {
    margin-top: 2rem;
    width: 100%;
    padding-inline: 5%;
    text-align: center;
  }
  .contact .contact_content .contact_info .contact_info_picture {
    margin-left: 0;
  }
  .contact .contact_content .contact_info .contact_info_picture picture {
    margin: 0 auto;
  }
}

/*========== UNDER 760px ==========*/
@media (max-width: 760px) {
  html {
    font-size: 72.5%;
  }
  header .header_content .header_text h1 {
    font-size: 4rem;
  }
  header .header_content .header_text h2 {
    font-size: 2rem;
  }
  .title h2 {
    font-size: 4rem;
  }
  .title h3 {
    font-size: 2rem;
  }
  .mns .mns_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mns .mns_content .mns_picture {
    width: 100%;
    margin-bottom: 1rem;
  }
  .mns .mns_content .mns_picture .mns_logo {
    width: 100%;
  }
  .mns .mns_content .mns_text {
    margin-bottom: 2rem;
  }
  .about .about_content .about_right .about_infos {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about_content .about_right .about_infos .about_map {
    width: 100%;
    margin-bottom: 1rem;
  }
  .about .about_content .about_right .about_infos .about_contact {
    width: 100%;
  }
  .skills .skills_content .frontend,
  .skills .skills_content .backend {
    width: 100%;
    margin-bottom: 1rem;
  }
  .skills .skills_content .design {
    width: 100%;
  }
  .skills .skills_content .design i {
    height: 10rem;
    bottom: -2rem;
    right: -2rem;
  }
  .skills .skills_content .design:hover i {
    right: -1.5rem;
  }
  .skills .skills_inprogress i {
    height: 10rem;
    bottom: -2rem;
    right: -2rem;
  }
  .skills .skills_inprogress:hover i {
    right: -1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */